# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Configuration files
server/configs/config.yaml
server/uploads/
server/log/
server/main

# Auth Service  
auth-service/configs/config.yaml
auth-service/log/

# Frontend
web/pkg/
web/node_modules/
web-auth-service/node_modules/
web-auth-service/dist/
